<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
    <customErrors mode="Off"/>
  </system.web>
  <connectionStrings>
    <add name="connectionstring" connectionString="Data Source=64.20.38.234;User ID=AppeBlogAdmin;Password=BlogAdmin@321" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="PageInspector:ServerCodeMappingSupport" value="Disabled" />
   <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="fromemail" value="donot-reply@appeteria.in"/>
    <add key="password" value="@pp3teri@"/>
    <add key="smtpserver" value="appeteria.in"/>
    <add  key="port" value="587"/>
    <add key ="SYS_MODE" value ="DEVELOPE"/>
    <add key ="profileUrl" value ="images/Profile/"/>
    <add key="postImg" value="images/PostImage/"/>
    <add key ="workurl" value ="images/workImg/"/>
    <add key="Testimonial" value="images/Testimonial/" />
    <add key="BlogId" value="1"/>
    
    <!-- <add key ="SYS_MODE" value ="LIVE"/>-->
  </appSettings>
</configuration>